<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="launchPad" type="Lextm.MSBuildLaunchPad.Configuration.LaunchPadSection, LaunchPadCore" />
  </configSections>
  <launchPad>
    <solutionFileMappings>
      <add solutionFileVersion="9|*" tool="2.0.50727"/>
      <add solutionFileVersion="10|*" tool="3.5"/>
      <add solutionFileVersion="11|*" tool="4.0.30319"/>
      <add solutionFileVersion="12|*" tool="4.0.30319"/>
      <add solutionFileVersion="12|12.0.30110.0" tool="12.0"/>
    </solutionFileMappings>
    <scriptToolMappings>
      <add scriptToolVersion="*" tool="12.0" />
      <add scriptToolVersion="3.5" tool="3.5"/>
      <add scriptToolVersion="4.0" tool="4.0.30319"/>
    </scriptToolMappings>
    <tools>
      <add version="2.0.50727" path="%windir%\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe" />
      <add version="3.5" path="%windir%\Microsoft.NET\Framework\v3.5\MSBuild.exe" />
      <add version="4.0.30319" path="%windir%\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" />
      <add version="12.0" path="C:\Program Files\MSBuild\12.0\Bin\MSBuild.exe" />
    </tools>
  </launchPad>
  <startup>
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0.30319" />
  </startup>
</configuration>
