<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="launchPad" type="Lextm.MSBuildLaunchPad.Configuration.LaunchPadSection, LaunchPadCore"/>
  </configSections>
  <launchPad>
    <solutionFileMappings>
      <add solutionFileVersion="9" tool="2.0.50727"/>
      <add solutionFileVersion="10" tool="3.5"/>
      <add solutionFileVersion="11" tool="4.0.30319"/>
      <add solutionFileVersion="12" tool="4.0.30319"/>
    </solutionFileMappings>
    <scriptToolMappings>
      <add scriptToolVersion="3.5" tool="3.5"/>
      <add scriptToolVersion="4.0" tool="4.0.30319"/>
    </scriptToolMappings>
    <tools>
      <add version="2.0.50727"/>
      <add version="3.5"/>
      <add version="4.0.30319"/>
    </tools>
  </launchPad>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
